<!DOCTYPE html>
<html>
    <head>
        <title>Resume Website Template | Home :: w3layouts</title>
        <script src="{{ asset ('js/jquery.min.js') }}"></script>
        <link href="{{ asset ('css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
        <link href="{{ asset ('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!---- start-smoth-scrolling---->
        <script type="text/javascript" src="{{ asset ('js/move-top.js') }}"></script>
        <script type="text/javascript" src="{{ asset ('js/easing.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
                });
            });
        </script>
        <!---- start-smoth-scrolling---->
    </head>
    <body>
        <!------headerbg starts--------->
        <div id="top-top" class="headerbg2">
            <!------header starts--------->
            <div class="header">
                <!------container starts--------->
                <div class="container">
                    <div class="logo">
                        <a href="{{ path ('home') }}">ERIC MARTIN</a>
                    </div>
                    <!------Navigation starts--------->
                    <div class="nav">
                        <ul>
                            <li><a class="scroll" href="{{ path ('home') }}">HOME</a></li>

                            <li><a class="scroll" href="#port">DETAIL</a></li>
                            <li><a class="scroll" href="#contact">CONTACT</a></li>

                            {% if app.user == NULL %}
                                <li><a href="{{ path ('fos_user_security_login') }}">LOGIN</a></li>
                                {% else %}

                                <li><a href="{{ path ('fos_user_profile_show') }}">HEY! {{ app.user.username }}</a></li>
                                <li><a href="{{ path ('fos_user_security_logout') }}">LOGOUT</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}

                                <li><a href="{{ path ('admin_experiences_index') }}">ADMIN</a></li>
                                {% endif %}
                        </ul>
                    </div>
                    <!------Navigation ends-------->
                    <div class="clear"></div>
                </div>
                <!------container ends--------->
            </div>
            <!------header ends--------->
            <!------Banner starts--------->

            <!------Banner ends-------->
        </div>
        <!------Headerbg ends-------->
        <!------Content starts--------->
        <div class="content">

            <!------PORTFOLIO Starts--------->
            <div id="port" class="Portfolio">
                <div class="Portfolio-section text-center">
                    <h2><span> </span>CV<span> </span></h2>
                </div>
                <div class="container">
                    <div class="portfolio-grids">

                    {% block exp %}{% endblock %}
                    <div class="clear"> </div>

                </div>
                <a class="portdown scroll" href="{{ path ('home') }}#contact"><span> </span></a>	  

            </div>
        </div>

    </div>

    <!------Content Ends-------->
    <!------FOOTER Starts----------->
    <div  id="contact" class="footer">
        <div class="container">
            <div class="contact-section text-center">
                <h2><span> </span>CONTACT<span> </span></h2>
            </div>
            <div class="row"> 
                <div class="col-md-6">
                    <div class="footer-left">
                        <div class="social-icons">
                            <a href="#"><img src="{{ asset ('images/in.png') }}"></a>
                            <a href="#"><img src="{{ asset ('images/twt.png') }}"></a>
                            <a href="#"><img src="{{ asset ('images/fb.png') }}"></a>
                        </div>
                        <p>
                        {% block txtmail %}{% endblock %}

                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="footer-right">
                    <div class="form">
                        <form>
                            <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {
                                        this.value = 'Name';
                                    }">
                            <input type="text" class="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {
                                        this.value = 'E-mail';
                                    }">
                            <textarea rows="2" cols="70" onfocus="if (this.value == 'Your Message')
                                        this.value = '';" onblur="if (this.value == '')
                                                    this.value = 'Your Message';" >Your Message</textarea>
                            <div class="clear"> </div>
                            <input type="submit" value="SEND"> 
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
                <p class="copy-right"> &copy; 2016 SYMFONY3 ZEND2 | Eric Martin</a></p>
            </div>
        </div>
    </div>
    <a class="up scroll" href="{{ path ('home') }}#top-top"><span> </span></a>  
</div>
</body>
</html>
