{% extends 'front.html.twig' %}


{% block txt01 %}

    {% for texte in textes %}
        {% if texte.titre == 'txt01' %}
            {{ texte.description }}
        {% endif %}
    {% endfor %}


{% endblock %}

{% block txt02 %}
    {% for texte in textes %}
        {% if texte.titre == 'txt02' %}
            {{ texte.description }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
    {% for texte in textes %}
        {% if texte.titre == 'body' %}
            {{ texte.description }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block lastexp %}

    {% for exp in exps %}
        <div class="years">	 
            <h4><b>{{ exp.debut|date('m-Y') }} - {{ exp.fin|date('m-Y') }}</b></h4>
            <span><h4>{{ exp.poste }}</h4></span>
            <span><h3>{{ exp.entreprise }}</h3></span>
            <p><i>{{ exp.description }}</i></p>
        </div> 
    {% endfor %}

{% endblock %}


{% block skills %}

    {% for skill in skills %}

        <div class="col-md-3">	
            <div class="skill-grid">
                <div class="circle" id="circles-{{ skill.niveau }}"></div>									
                <h3>{{ skill.nom }}</h3>	
            </div>								  
        </div>
    {% endfor %}
    <div class="clearfix"> </div>
{% endblock %}

{% block exp %}
    {% for exp in exps %}
        <div class="portfolio-grid col-md-4">
            <a href="#"><img src="{{ asset ('images/1.jpg') }}"></a>
            <span><h4>{{ exp.poste }}</h4></span>
            <span><h3>{{ exp.entreprise }}</h3></span>
            <p>{{ exp.description }}</p>
            <a class="rightarrow" href="{{ path ('home') }}{{ exp.id~'#port' }}"><span> </span></a>
        </div>
    {% endfor %}
{% endblock %}


{% block txtmail %}
    {% for texte in textes %}
        {% if texte.titre == 'txtmail' %}
            {{ texte.description }}
        {% endif %}
    {% endfor %}
{% endblock %}
