{% extends 'base.html.twig' %}

{% block body %}
    <h1>Texte</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ texte.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if texte.date %}{{ texte.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ texte.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ texte.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ texte.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_textes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_textes_edit', { 'id': texte.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
